.banner {
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}


.eventos__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template: 1fr repeat(2, 1fr) 1fr;
    grid-template-areas:
    "imagem imagem"
    "nome nome"
    "data data"
    "local botao";
}

.eventos__item img {
    grid-area: imagem;
}

.eventos__item h3{
    grid-area: nome;
    align-self: center;
}

.eventos__item h4{
    grid-area: data;
}

.eventos__item h5{
    grid-area: local;
    align-self: end;
}

.eventos__item buttom{
    grid-area: botao;
}


.agenda__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.agenda__item img {
    grid-column: 1/3;
    grid-row: 1/2;
}

.agenda__informacoes {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    grid-column: 1/2;
    grid-row: 2/2;
}

.agenda__atracao {
    grid-column: 2/2;
    grid-row: 2/2;
}

@media screen and (min-width: 720px) {
    .banner {
        gap: 1.5rem;
        grid-template-columns: calc(50% - 0.75rem) auto auto;
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .banner img:nth-child(2) {
        grid-column: 2/2;
        grid-row: 1/2;
    }

    .banner img:nth-child(3) {
        grid-column: 2/2;
        grid-row: 2/2;
    }

    .banner img:nth-child(4) {
        grid-column: 3;
        grid-row: 1/3;
    }
}

@media screen and (min-width: 1440px){

    .categorias{
        display: grid;
        grid-template-areas:
            "cat-titulo cat-titulo"
            "cat-lista dest-titulo"
            "cat-lista dest-imagem";
        /* grid-template-columns: calc(50% - 0.75rem); */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;
        column-gap: 1.5rem;
    }

    .categorias__titulo{
        grid-area: cat-titulo;
    }
    .categorias__lista{
        grid-area: cat-lista;
    }
    .destaques__titulo{
        grid-area: dest-titulo;
    }
    .destaques__imagem{
        grid-area: dest-imagem;
    }



}